#course1 {
	background-image: url("images/photo-1496307042754-b4aa456c4a2d-740x400.jpeg");
}
#course2 {
	background-image: url("images/12345-1-740x400.png");
}
#course3 {
	background-image: url("images/photo-1491897554428-130a60dd4757-740x400.jpeg");
}
#course4 {
	background-image: url("images/photo-1416339134316-0e91dc9ded92-740x400.jpeg");
}
#course5 {
	background-image: url("images/cathryn-lavery-67852-unsplash-740x400.jpg");
}
#course6 {
	background-image: url("images/photo-1475452779376-caebfb988090-740x400.jpeg");
}
