//Resets
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

img {
	width: 100%;
}

a,
a:hover {
	text-decoration: none;
	color: inherit;
}

//Typography
.txt-center {
	text-align: center;
}

//FLEX

.flex {
	display: flex;
}

.flex.between {
	justify-content: space-between;
}
.flex.evenly {
	justify-content: space-between;
}

.flex.around {
	justify-content: space-around;
}

.flex.center {
	align-items: center;
}

//COLOR
.brand {
	color: $brand;
}
.base {
	color: $base;
}

//GLOBAL
body {
	font-size: $font_size;
	font-family: $base_font;
	color: $primary;
	background-color: $base;
	line-height: 2;
}

h1,
h2,
h3,
h4 {
	font-family: $brand_font;
	line-height: 1.5;
}
