header {
	@include container;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: $brand_font;
	padding: 3rem;
	.logo {
		flex-basis: 240px;
	}
	nav {
		.menu {
			font-weight: bold;
			li {
				position: relative;
				padding: 0 0.75rem;
				.new {
					color: $base;
					background-color: $featured;
					padding: 2px 4px 3px;
					font-size: calc(#{$font_size}* 0.5);
					font-weight: 300;
					border-radius: 3px;
					border-bottom-left-radius: 0;
					position: absolute;
					bottom: 100%;
					left: 50%;
				}
			}

			&__social {
				margin-left: 1.5rem;
				li {
					padding: 0 0.5rem;
				}
			}
		}
	}
}
