.jumbotron {
	background-image: url("../../dist/images/slide-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 800px;
	.teaser {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%);
		h1 {
			font-size: calc(#{$font-size}* 4);
			margin-bottom: 1.5rem;
			max-width: 20ch;
			line-height: 1.1;
		}
		p {
			max-width: 55ch;
			line-height: 2;
		}
	}
	.sale-banner {
		padding: 2rem;
		border-radius: 10px;
		background-color: $brand;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		h2 {
			margin-bottom: 2rem;
			font-size: calc(#{$font_size}* 2);
		}
		.sale-form {
			flex-basis: 50%;
			.subscribe {
				position: relative;
			}
			input {
				width: 85%;
				outline: none;
				border: none;
				border-radius: 25px;
				vertical-align: middle;
				padding: 1rem;
			}

			.btn {
				@include button;
				position: absolute;
				top: 0;
				left: 85%;
				transform: translateX(-50%);
				line-height: 47px;
				color: $base;
				background-color: $tertiary;
			}
		}
	}
	.countdown {
		flex-basis: 40%;
		font-family: $brand_font;
		font-weight: bold;
		> div {
			font-size: calc(#{$font-size}* 1.25);
		}
		.time {
			font-size: calc(#{$font-size}* 4);
			color: $base;
		}
	}
}
