@mixin container {
	max-width: 1170px;
	margin: 0 auto;
}

@mixin button {
	border-radius: 25px;
	padding: 0 1rem;
	cursor: pointer;
	font-family: $brand_font;
	text-transform: uppercase;
	font-size: calc(#{$font-size}* 0.85);
}
