//COLORS
$brand: #f2b71d;
$base: #fff;
$primary: #252525;
$secondary: #e4e7e7;
$tertiary: #0d2229;
$featured: #be43cd;

//FONTS
$brand_font: "Roboto Slab", serif;
$base_font: "Roboto", serif;
$font_size: 1rem;
