//COLORS
$brand: #f2b71d;
$base: #fff;
$primary: #f2b71d;
$secondary: #252525;
$tertiary: #e4e7e7;

//FONTS
$brand_font: "Roboto Slab", serif;
$base_font: "Roboto", serif;

//LAYOUT
$base_padding: 1rem;
